<div class="background">
    <section class="header"> 
      <div class="row">
        <div class="col-md-1 px-5 py-2">
          <a routerLink="/login">
          <i class="fa fa-arrow-left fa-xl" style="color: black;" aria-hidden="true"></i> </a>
          </div>
          <div class="col-md-3 offset-md-8">
            <p style="text-align: center;" class="mt-1">الجمهورية التونسية<br>
                وزارة التربية<br>
                التفقدية العامة لبيداغوجيا التربية<br>
                ادارة التفقدية بالمرحلة الابتدائية
            </p>
            <p></p>
        </div>
      </div>
    </section>
    
    <section class="part1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1 class="mb-5"><u>دائرة الحنشة</u></h1>
                </div>
                </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 mx-2">
            <a routerLink="/register-inspector">
            <div class="card" style="width: 15rem; " >
                <img class="card-img-top" src="assets/inspector.png"  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center"> <b>المتفقد</b></p>
                </div>
              </div>
            </a>
        </div>
        <div class="col-md-3 mx-2">
            <a routerLink="/register-director">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="assets/director.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center"><b>المدير</b></p>
                </div>
              </div>
              </a>
        </div>

        <div class="col-md-3 mx-2">
            <a routerLink="/register-teacher">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="assets/teachers.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center"> <b>المعلم</b></p>
                </div>
              </div>
              </a>
        </div>
    </div>
    </div>
    </section>
    
    </div>